<IfModule mod_setenvif.c>
  SetEnvIfNoCase Cookie (^|;\s*)wordpress_logged_in_[a-z0-9]{32}=[^;\s]+ wordpress_logged_in=true
</IfModule>

Order Deny,Allow
Deny from all
Allow from env=wordpress_logged_in
