# ------------------------------------------------------------------------------
# Make Public
# ------------------------------------------------------------------------------

Order Allow,Deny
Allow from all
Satisfy any

# ------------------------------------------------------------------------------
# Compressed Files
# ------------------------------------------------------------------------------

AddEncoding x-gzip .gz

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^rev-manifest.json - [F]
  RewriteCond %{HTTP:Accept-Encoding} gzip
  RewriteCond %{REQUEST_FILENAME} !\.gz$
  RewriteCond %{REQUEST_FILENAME}\.gz -s
  RewriteRule . %{REQUEST_URI}.gz [L]
</IfModule>

<IfModule mod_deflate.c>
  SetEnvIfNoCase Request_URI \.gz$ no-gzip
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.gz$">
    Header set Vary "Accept-Encoding"
  </FilesMatch>
</IfModule>

# css --------------------------------------------------------------------------

<FilesMatch ".*\.css\.gz$">
  ForceType "text/css; charset=utf-8"
</FilesMatch>

# js ---------------------------------------------------------------------------

<FilesMatch ".*\.js\.gz$">
  ForceType "text/javascript; charset=utf-8"
</FilesMatch>

# svg --------------------------------------------------------------------------

AddType image/svg+xml .svg

<FilesMatch ".*\.svg\.gz$">
  ForceType "image/svg+xml; charset=utf-8"
</FilesMatch>

# ------------------------------------------------------------------------------
# Cache Control
# ------------------------------------------------------------------------------

<FilesMatch "\.\w{8}\.\w+(\.gz)?$">
  FileETag none
  <IfModule mod_headers.c>
    Header set Cache-Control "public,max-age=31536000"
  </IfModule>
</FilesMatch>
